.App {
  text-align: center;
}

 
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  background-color: #9BB1E9;
}

.legend-box {
  transition: transform 0.3s ease; /* Apply a smooth transition on transform property */
}

.legend-box:hover {
  transform: scale(1.1); /* Scale the element on hover */
}

.animated-container {
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 0.5s ease; /* Apply a smooth transition on opacity property */
}

.animated-container.show {
  opacity: 1; /* Change opacity to 1 when the 'show' class is present */
}